# Prevent generated JS and map files
*.js
*.js.map

# Prevent TS build info
tsconfig.tsbuildinfo

# Prevent Vite and TypeScript output
dist/
node_modules/

# Prevent IDE clutter
.vscode/
.idea/
.DS_Store

# Prevent logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Prevent Visual Studio junk
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
dist/
.env
.DS_Store
